@font-face {
    font-family: Roboto;
    src: url(Roboto-Regular.ttf);
    font-weight: 600;
    font-style: normal;
}

:root {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: grid;
    grid-template-rows: auto 1fr;
    position: relative;
    background-color: rgb(190, 219, 229);
}

header {
    display: flex;
    align-items: center;
    padding: 10px 100px;
    font-size: 24px;
    background-color: aliceblue;
}

.board {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 260px;
    grid-auto-columns: 260px;
    align-items: start;
    gap: 40px;
    padding: 20px 40px;
}

.list {
    background-color:aliceblue;
    padding: 10px;
    border-radius: 10px;
    border-left: solid black 10px;
}

.list > .list-name {
    padding-bottom: 30px;
    font-size: 20px;
}

.list > .new-task-container {
    display: grid;
    grid-template-columns: 20px 1fr;
    gap: 4px;
    padding-bottom: 20px;
}

.list > .new-task-container > .plus-icon-container {
    display: flex;
    align-items: center;
}

.list > .new-task-container > .add-new-task {
    display: flex;
    align-items: center;
}

.list > .uncomplete-container .date-container{
    padding-bottom: 20px;
}

.list > .uncomplete-container .date{
    padding-bottom: 4px;
}

.list .task-container {
    display: grid;
    grid-template-columns: 20px 1fr;
    grid-template-rows: auto auto;
    gap: 4px;
}

.list .task-container > .complete-icon-container {
    display: flex;
    align-items: center;
}

.list .task-container > .task-name {
    display: flex;
    align-items: center;
}

.list .task-container > .container {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    display: flex;
    gap: 10px;
}

.list .task-time, .list .priority-icon {
    padding: 1px 8px;
    border-radius: 20px;
    background-color: lightyellow;
}

.list > .completed-container > .completed-header {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    border-top: solid grey 1px;
}

.list > .completed-container .completed-header-icon {
    display: flex;
    align-items: center;
}

.list .completed-header > .header-text {
    display: flex;
    align-items: center;
}

.list > .completed-container > .tasks-container {
    padding-top: 10px;
}

.list > .completed-container .task-container {
    display: grid;
    grid-template-columns: 20px 1fr;
    padding-bottom: 4px;
}

.list > .completed-container .complete-icon-container {
    display: flex;
    align-items: center;
} 

.list .icon {
    height: 16px;
}

.add-new-list {
    background-color:aliceblue;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

.popup-container {
    position: absolute;
    top: 34%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    border-radius: 10px;
    background-color: aliceblue;
}

.popup-container > .icon-container {
    display: flex;
    justify-content: flex-end;
}

.popup-container .icon {
    height: 16px;
}

.popup-container > .popup-content {
    padding: 0 20px;
}

.popup-container > .popup-content > input {
    box-sizing: border-box;
    width: 100%;
    font-size: 20px;
    margin-bottom: 20px;
    border: none;
    outline: none;
    background-color: aliceblue;
}

.popup-container > .popup-content > fieldset {
    border: none;
    padding: 0 0 10px 0;
    margin: 0;
}

.popup-container fieldset > legend {
    padding-bottom: 10px;
    font-size: 16px;
}

.popup-container fieldset > .color-buttons {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-template-rows: repeat(2, 40px);
    justify-items: center;
    align-items: center;

}

.popup-container .color-buttons input[type="radio"]:after {
    width: 30px;
    height: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    position: relative;
    content: '';
    display: inline-block;
    visibility: visible;
}

.popup-container .color-buttons input[type="radio"]#red:after {
    background-color: red;
}

.popup-container .color-buttons input[type="radio"]#green:after {
    background-color: green;
}

.popup-container .color-buttons input[type="radio"]#blue:after {
    background-color: blue;
}

.popup-container .color-buttons input[type="radio"]#orange:after {
    background-color: orange;
}

.popup-container .color-buttons input[type="radio"]#teal:after {
    background-color: teal;
}

.popup-container .color-buttons input[type="radio"]#lightgrey:after {
    background-color: lightgrey;
}
.popup-container .color-buttons input[type="radio"]#grey:after {
    background-color: grey;
}

.popup-container .color-buttons input[type="radio"]#darkgrey:after {
    background-color: darkgrey;
}

.popup-container .color-buttons input[type="radio"]#black:after {
    background-color: black;
}

.popup-container .color-buttons input[type="radio"]#magenta:after {
    background-color: magenta;
}

.popup-container .color-buttons input[type="radio"]:checked:after {
    width: 30px;
    height: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    position: relative;
    background-image: url("./icons/circle_white_24dp.svg");
    background-position: center;
    background-repeat:no-repeat;
    background-size: 16px;
    content: '';
    display: inline-block;
    visibility: visible;
}